/Programming Basics/Exercises/01.First Steps In Coding/01.Hello C#/HelloCsh/HelloCsh/obj
/Programming Basics/Exercises/01.First Steps In Coding/01.Hello C#/HelloCsh/HelloCsh/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/08. Fish Tank/08. Fish Tank/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/08. Fish Tank/08. Fish Tank/bin
/Programming Basics/Exercises/01.First Steps In Coding/02. Nums 1to10/02. Nums 1 to 10/obj
/Programming Basics/Exercises/01.First Steps In Coding/02. Nums 1to10/02. Nums 1 to 10/bin
/Programming Basics/Exercises/01.First Steps In Coding/03. Square Area/03. Square Area/obj
/Programming Basics/Exercises/01.First Steps In Coding/03. Square Area/03. Square Area/bin
/Programming Basics/Exercises/01.First Steps In Coding/04. Inches to Centimeters/04. Inches to Centimeters/obj
/Programming Basics/Exercises/01.First Steps In Coding/04. Inches to Centimeters/04. Inches to Centimeters/bin
/Programming Basics/Exercises/01.First Steps In Coding/05. Greeting by Name/05. Greeting by Name/obj
/Programming Basics/Exercises/01.First Steps In Coding/05. Greeting by Name/05. Greeting by Name/bin
/Programming Basics/Exercises/01.First Steps In Coding/06. Concatenate Data/06. Concatenate Data/obj
/Programming Basics/Exercises/01.First Steps In Coding/06. Concatenate Data/06. Concatenate Data/bin
/Programming Basics/Exercises/01.First Steps In Coding/07. Projects Creation/07. Projects Creation/obj
/Programming Basics/Exercises/01.First Steps In Coding/07. Projects Creation/07. Projects Creation/bin
/Programming Basics/Exercises/01.First Steps In Coding/08. Pet Shop/08. Pet Shop/obj
/Programming Basics/Exercises/01.First Steps In Coding/08. Pet Shop/08. Pet Shop/bin
/Programming Basics/Exercises/01.First Steps In Coding/09. Yard Greening/09. Yard Greening/obj
/Programming Basics/Exercises/01.First Steps In Coding/09. Yard Greening/09. Yard Greening/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/01. USD to BGN/01. USD to BGN/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/01. USD to BGN/01. USD to BGN/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/01. USD to BGN/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/02. Radians to Degrees/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/02. Radians to Degrees/02. Radians to Degrees/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/02. Radians to Degrees/02. Radians to Degrees/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/03. Deposit Calculator/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/03. Deposit Calculator/03. Deposit Calculator/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/03. Deposit Calculator/03. Deposit Calculator/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/04. Vacation books list/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/04. Vacation books list/04. Vacation books list/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/04. Vacation books list/04. Vacation books list/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/05. Birthday party/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/05. Birthday party/05. Birthday party/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/05. Birthday party/05. Birthday party/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/06. Charity Campaign/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/06. Charity Campaign/06. Charity Campaign/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/06. Charity Campaign/06. Charity Campaign/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/07. Fruit Market/.vs
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/07. Fruit Market/07. Fruit Market/obj
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/07. Fruit Market/07. Fruit Market/bin
/Programming Basics/Exercises/01.First Steps In Coding - Exercise/08. Fish Tank/.vs
/Programming Basics/Exercises/01.First Steps In Coding/01.Hello C#/HelloCsh/.vs
/Programming Basics/Exercises/01.First Steps In Coding/02. Nums 1to10/.vs
/Programming Basics/Exercises/01.First Steps In Coding/03. Square Area/.vs
/Programming Basics/Exercises/01.First Steps In Coding/04. Inches to Centimeters/.vs
/Programming Basics/Exercises/01.First Steps In Coding/05. Greeting by Name/.vs
/Programming Basics/Exercises/01.First Steps In Coding/06. Concatenate Data/.vs
/Programming Basics/Exercises/01.First Steps In Coding/07. Projects Creation/.vs
/Programming Basics/Exercises/01.First Steps In Coding/08. Pet Shop/.vs
/Programming Basics/Exercises/01.First Steps In Coding/09. Yard Greening/.vs
/Programming Basics/Exercises/02.Conditional Statements/01. Excellent Result/01. Excellent Result/bin
/Programming Basics/Exercises/02.Conditional Statements/01. Excellent Result/01. Excellent Result/obj
/Programming Basics/Exercises/02.Conditional Statements/01. Excellent Result/.vs
/Programming Basics/Exercises/02.Conditional Statements/02. Greater Number/.vs
/Programming Basics/Exercises/02.Conditional Statements/02. Greater Number/02. Greater Number/bin
/Programming Basics/Exercises/02.Conditional Statements/02. Greater Number/02. Greater Number/obj
/Programming Basics/Exercises/02.Conditional Statements/03. Even or Odd/.vs
/Programming Basics/Exercises/02.Conditional Statements/03. Even or Odd/03. Even or Odd/bin
/Programming Basics/Exercises/02.Conditional Statements/03. Even or Odd/03. Even or Odd/obj
/Programming Basics/Exercises/02.Conditional Statements/04. Number 100_200/.vs
/Programming Basics/Exercises/02.Conditional Statements/04. Number 100_200/04. Number 100_200/bin
/Programming Basics/Exercises/02.Conditional Statements/04. Number 100_200/04. Number 100_200/obj
/Programming Basics/Exercises/02.Conditional Statements/05. Password Guess/.vs
/Programming Basics/Exercises/02.Conditional Statements/05. Password Guess/05. Password Guess/bin
/Programming Basics/Exercises/02.Conditional Statements/05. Password Guess/05. Password Guess/obj
/Programming Basics/Exercises/02.Conditional Statements/06. Area of Figures/.vs
/Programming Basics/Exercises/02.Conditional Statements/06. Area of Figures/06. Area of Figures/bin
/Programming Basics/Exercises/02.Conditional Statements/06. Area of Figures/06. Area of Figures/obj
/Programming Basics/Exercises/02.Conditional Statements/07. Toy Shop/.vs
/Programming Basics/Exercises/02.Conditional Statements/07. Toy Shop/07. Toy Shop/bin
/Programming Basics/Exercises/02.Conditional Statements/07. Toy Shop/07. Toy Shop/obj
.vs
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
