body {
    height: 100vh;
    width: 100%;
}

body,
ul,
li {
    display: flex;
}

.gallery {
    margin: 5rem;
}

ul {
    justify-content: space-between;
    flex-flow: row wrap;
}

li {
    border: 5px solid black;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.63);
}

li img {
    align-self: center;
}